*, *::before, *::after{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
body{
    padding: 0%;
    margin: 0%;
    background: linear-gradient(to right, #00AAFF, #00ff80f1);
}
.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    
}
.calculator-grid > button{
    /* border: 1.0rem solid black;
    border-bottom-left-radius: 10px; */
    border-bottom-right-radius: 10px;
    cursor: pointer;
    font-size: 2rem;
    outline: none;
    border: 1px solid ghostwhite;
    background-color: rgb(221, 225, 225, .75);
}
.calculator-grid > button:hover{
   background-color: aquamarine;
}
.span-two{
    grid-column: span 2;
}
.output{
    grid-column: 1/-1;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border: 2px inset black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(61, 118, 98);
    
}
.output, .privious-operand{
    color: aliceblue;
    font-size: 1.5rem;
    
}
.output, .current-operabd{
    color: white;
    font-size: 2.5rem;
}
